//
//  GeneralAppConfig.xcconfig
//  AutomatedTestPoC
//
//  Created by AMALITECH-PC-105889 on 4/4/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
BASE_API_URL=newsapi.org
API_SECRET_KEY=137dee1cfd874df88413635ec5406229

